#logo a {

    font-family: Georgia;

    color: blue; /*Cambio del color del titulo a color azul*/

    display: block;

    font-size: 50px; /*Se agranada el tamaño del titulo*/

    font-weight: bold;

    letter-spacing: -1px;

    padding-top: 10px; /*Se ha reducido el padding para compensar el aumento de tamaño de la fuente*/

}


nav ul li a, #topMenu ul li div {

	color:blue; /*Cambio de la fuente del menu a color azul*/

	display:block;

	font-size:12px;

	height:32px;

	padding:18px 15px 0;

	text-transform:uppercase;

}

#content .postBoxInnerHover {

	background: lightblue; /*Se modifica el color de los posts para que se muestre en azul al pasar por encima*/

	border:8px solid #80C5F2; /*Se modifica el color del borde de los posts para que se muestre en azul al pasar por encima*/

}

#footerInner h2 {

	border-bottom:1px solid #292929;

	color:blue; /*Se modifican los titulos del footer para que se muestren en azul*/

	font-size:20px;

	font-weight:normal;

	margin-bottom:10px;

	padding:7px 0 12px;

	text-shadow:none;

}

#content {

	padding-bottom:20px;

    overflow:hidden;

	margin-top:25px;

 	/*text-shadow:#eee 1px 1px;*/ /*Evitamos la sombra de texto que daba la sensación de texto borroso en el calendario*/

}



h3.tribe-events-month-event-title{
	font-size: 15px !important; /*Cambiamos el tamaño de la letra de los eventos del calendario para que destquen más*/
	text-align: center !important;/*centramos el titulo en cada casilla*/
	margin-top: 30px !important; /*Añadimos margen superior para centrar verticalmente el titulo en la casilla del calendario*/

  /*Se utiliza !important para priorizar los cambios en esta clase sobre la ya creada*/
}

nav {

	left:-13px;

	/*position:absolute;*/ /*Se evita esta parte que provocaba una mala colacion de contenido*/

	/*text-shadow:1px 1px #000;*/ /*Se evita esta parte por razones esteticas*/

	top:0;

}
